<?xml version="1.0"?>
<model>
  <name>red_rectangle</name>
  <version>1.0.1</version>
  <author>
   <name>Jordi Pages</name>
   <email>jordi.pages@pal-robotics.com</email>
  </author>
  <sdf version='1.4'>red_rectangle.sdf</sdf>
  <description>
    Red rectangle of 4 x 14 cm
  </description>
</model>
